.govuk-check-your-answers {
  > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 10px 0 10px 3px;

    .cya-question {
      flex: 2;
      font-weight: bold;
    }

    .cya-answer {
      flex: 1;
    }

    .cya-change {
    }

  }
}