.status-tag {
  font-size: 14px;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25em 0.5em 0.2em 0.5em;
  background: $orange;
  border-radius: 2px;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;
  }

}