.f-wizard {
  display: flex;
  .f-navigation {
    margin-right: 60px;
    width: 200px;

    .f-section {
      margin-bottom: 20px;
      h2 {
        font-weight: bold;
      }
    }
  }
  .f-content {
    flex: auto;

    .f-header {
      border-bottom: 1px solid $black;
      margin-bottom: 40px;
      padding-bottom: 40px;
     .heading-medium {
       margin: 0;
     }
    }

    .f-form {
      display: flex;
      border-bottom: 1px solid $black;
      margin-bottom: 40px;
      padding-bottom: 40px;
      div {
        flex: 1;
      }
    }

    .f-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}