.modal {
  .modal-content {
    padding: 20px;
  }
  hr {
    margin: 0; padding: 0;
  }
  .modal-actions {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      margin-right: 10px;
    }
  }
}